:root {
    --primary-color: #778DA9;
    --secondary-color: #1B263B;
    --accent1-color: #415A77;
    --accent2-color: #0D1B2A;
    --heading-font: "Roboto Condensed", system-ui;
    --paragraph-font: "Inter", system-ui;
    --border: solid 3px rgba(0, 0, 0, 0.5);
    --font-color: white;
}

* {
    max-width: 1200px;
    margin: auto;
}

/* header */

header {
    margin: auto 0;
    padding: 1rem;
	display: grid;
	grid-template-columns: 10px 1fr;
	border-bottom: 3px solid #ccc;
    background-color: var(--secondary-color);
}

header img {
    margin: 0 0.25rem 0 1rem;
    width: 128px;
    height: auto;
}

header nav {
    display: flex;
    justify-content: space-around;
}
header nav a {
    display: block;
	padding: 5px 20px;
    margin: 0 5px;
	text-decoration: none;
    font-family: var(--heading-font);
    background-color: var(--accent2-color);
    border: solid 1px white;
    color: var(--font-color);
    font-size: large;
    font-weight: 100;
}

/* main */

main {
    background-color: var(--primary-color);
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    box-sizing: border-box;
    font-family: var(--heading-font);
    font-weight: 100;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--font-color);
    width: 100%;
    height: auto;
    padding: 10px;
    top: 0;
    text-align: center;
}

.hero article {
    position: absolute;
    bottom: 30px;
    left: 24%;
    width: 50%;
    padding: 10px;
    background-color: rgba(65, 90, 119, 0.7);
}

.hero article p {
    font-family: var(--paragraph-font);
    font-weight: 400;
    color: var(--font-color);
}

.hero article img {
    width: 100px;
    float: right;
}


section h2 {
    font-family: var(--heading-font);
    font-weight: 100;
    color: var(--font-color);
}

section p {
    font-family: var(--paragraph-font);
    font-weight: 400;
    color: var(--font-color);
}

.history-section {
    margin: auto;
    padding: 10px 1rem 20px;
    display: flex;
    flex-direction: column;
    background-color: var(--accent1-color);
}

.history-section p {
    max-width: 70%;
}

.grid {
    margin: 1rem auto 0;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: var(--accent1-color);
	border-bottom: 3px solid #ccc;
}

.grid h2 {
    font-family: var(--heading-font);
    font-weight: 100;
    grid-column: 1/6;
    padding: 1rem;
}

.grid img {
    width: 100%;
    margin: 1rem auto 0;
}

.grid figcaption {
    font-family: var(--paragraph-font);
    font-weight: 400;
    color: var(--font-color);
    text-align: center;
    background-color: var(--accent1-color);
}

/* footer */

footer {
    margin: auto;
    display: flex;
    padding: 1rem;
    background-color: var(--secondary-color);
}

footer p {
    font-family: var(--paragraph-font);
    font-weight: 400;
    color: var(--font-color);
    text-align: center;
}

.sociallinks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    
}

.sociallinks img {
    object-fit: fill;
    width: 50px;
}

/* contact.html */

.contact-section {
    display: grid;
    grid-template-columns: 380px 400px 1fr;
    grid-gap: 5px;
    text-align: right;
}

form {
    display: grid;
}

label, input, button, textarea {
    font-family: "Inter", "Roboto Condensed";
    font-weight: 400;
    margin: .2rem;
}

label {
    text-align: right;
    padding-right: 1rem;
}

fieldset {
    background-color: var(--accent1-color);
    padding: .5rem;
    margin: 0.5rem;
    border: none;
    color: var(--font-color);
}

fieldset legend {
    font-family: var(--heading-font);
    padding: 0 .5rem;
    font-weight: 700;
    font-size: 1.2em;
}

button {
    margin: 0 auto;
    padding: 1rem;
    background-color: lightskyblue;
    border: none;
    border-radius: .5rem;
    font-size: 1.1rem;
}

button:hover {
    background-color: rgb(179, 210, 241);
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 2fr;
    margin: 0.5rem 0;
}

.column2 {
    grid-template-columns: 1fr 3fr;
    margin: 0.5rem 0;
}

input[type="checkbox"] {
    vertical-align: bottom;
}

.info {
    background-color: var(--accent1-color);
    padding: 1rem;
    margin: auto 1rem auto 0;
    text-align: left;
}

.info p {
    font-size: 0.9rem;
}

.info h2 {
    padding-bottom: 1rem;
}

.exployees {
    margin: 1rem auto .2rem;
    padding: 1rem;
    display: flex;
    text-align: center;
}

.employees figure, figcaption {
    font-family: var(--paragraph-font);
    font-weight: 400;
    font-size: 1.2rem;
    background-color: var(--accent1-color);
    padding: .5rem 1rem;
}

.exployees img {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: .5rem;
}

.wireframe {
    text-decoration: none;
    font-family: var(--heading-font);
    font-weight: 100;
    font-size: 1.2rem;
    color: white;
    padding: .2rem .5rem;

}

.wireframe:hover {
    background-color: var(--accent1-color);
}

/* Trips.html */

.trips-header {
    font-family: var(--heading-font);
    font-weight: 100;
    font-size: 3rem;
    text-align: center;
    color: white;
    padding: 1rem;
}

.trips-grid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .5fr 1fr;
    grid-gap: 2rem;
    padding: 3rem 1.5rem;
}

.contact-link {
    grid-column: 2/3;
    padding: 0 2.8rem;
    margin: 0 auto;
    text-align: center;
    align-content: center;
    background-color: var(--accent1-color);
    border: 5px solid rgba(0, 0, 0, 0.2);
}

.image1 {
    grid-row: 1/4;
    margin: 0 auto;
    background-color: var(--accent1-color);
    border: 5px solid rgba(0, 0, 0, 0.2);
}

.image2 {
    grid-column: 3/4;
    grid-row: 1/4;
    margin: 0 auto;
    background-color: var(--accent1-color);
    border: 5px solid rgba(0, 0, 0, 0.2);
}

.image3 {
    grid-column: 2/3;
    grid-row: 2/4;
    margin: 0 auto;
    background-color: var(--accent1-color);
    border: 5px solid rgba(0, 0, 0, 0.2);
}

.trips-grid figure figcaption {
    font-family: "Inter";
    font-weight: 400;
    font-size: 1.1rem;
    padding: .5rem 1rem;
    color: white;
}

.trips-grid figure img {
    width: 80%;
    height: auto;
    display: block;
    padding: 1rem;
    border-bottom: 3px dotted rgba(0, 0, 0, 0.5);
}

/* home.html */

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 1rem 1rem 0.2rem 1rem;
    padding-bottom: 1rem;
}

.trips-link {
    grid-row: 2/3;
    padding: 2rem;
    text-align: left;
    font-weight: 400;
    font-family: var(--paragraph-font);
    font-size: 1.2rem;
    color: white;
    background-color: var(--accent1-color);

}

.home-grid figure img {
    max-width: 80%;
    height: auto;
    display: block;
}

.caption1 {
    grid-column: 2/3;
    grid-row: 1/3;
    padding: 1rem;
    background-color: var(--accent1-color);
}

.home-grid figcaption {
    margin: 0 auto;
    padding-top: 1rem;
    max-width: 80%;
    color: white;
}

.caption2 {
    grid-column: 3/4;
    grid-row: 1/3;
    padding: 1rem;
    background-color: var(--accent1-color);
}

.signup {
    margin: auto 0;
    background-color: var(--accent1-color);
}

.form-item {
    padding: 1.2rem;
}

.form-item label {
    text-align: left;
    font-weight: 400;
    font-family: var(--paragraph-font);
    font-size: 1.2rem;
}

.column {
    border-top: 2px dotted rgba(255, 255, 255, 0.5);
}