:root {
    --primary-color: #778DA9;
    --secondary-color: #1B263B;
    --accent1-color: #415A77;
    --accent2-color: #0D1B2A;
    --heading-font: "Roboto Condensed", system-ui;
    --paragraph-font: "Inter", system-ui;
    --border: solid 3px rgba(0, 0, 0, 0.5);
}

* {
    max-width: 1000px;
    margin: auto;
}

/* header */

header {
    margin: 1rem auto;
    padding: 1rem;
	display: grid;
	grid-template-columns: 10px 1fr;
	border-bottom: 1px solid #ccc;
    background-color: var(--accent1-color);
}

header img {
    margin: 0 0.25rem 0 1rem;
    width: 128px;
    height: auto;
}

header nav {
    display: flex;
    justify-content: space-around;
}
header nav a {
    display: block;
	padding: 5px 20px;
    margin: 0 5px;
	text-decoration: none;
    font-family: var(--heading-font);
    background-color: var(--secondary-color);
    border: solid 1px white;
    color: white;
    font-size: large;
    font-weight: 100;
}

/* main */

main {
    background-color: var(--primary-color);
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    box-sizing: border-box;
    font-family: var(--heading-font);
    font-weight: 100;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    height: auto;
    padding: 10px;
    top: 0;
    text-align: center;
}

.hero article {
    position: absolute;
    bottom: 30px;
    left: 24%;
    width: 50%;
    padding: 10px;
    background-color: rgba(65, 90, 119, 0.7);
    
    
}

.hero article img {
    width: 100px;
    float: right;
}


h2 {
    font-family: var(--heading-font);
    font-weight: 100;
    color: white;
}

p {
    font-family: var(--paragraph-font);
    font-weight: 400;
    color: white;
}

.history-section {
    margin: auto;
    padding: 10px 1rem 20px;
    display: flex;
    flex-direction: column;
    background-color: var(--accent1-color);
}

.history-section p {
    max-width: 70%;
}

.grid {
    margin: 1rem auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: var(--accent1-color);
}

.grid h2 {
    grid-column: 1/6;
    padding: 1rem;
}

.grid img {
    width: 100%;
    margin: 1rem auto 0;
}

.grid figcaption {
    font-family: var(--paragraph-font);
    color: white;
    text-align: center;
    background-color: var(--accent1-color);
}

/* footer */

footer {
    display: flex;
    margin: 1rem auto;
    padding: 1rem;
    background-color: var(--secondary-color);
}

footer p {
    font-family: var(--paragraph-font);
    text-align: center;
}

.sociallinks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    
}

.sociallinks img {
    object-fit: fill;
    width: 50px;
}