* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", system-ui;
    color: #333;
    background: #fff;
}

header {
    margin: 0 auto;
    width: 650px;
}

h1 {
    margin: 1rem;
    text-align: center;
    font-family: "Roboto Condensed";
}

form {
    width: 700px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: 0.5rem;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

fieldset legend {
    padding: 0 1rem;
    font-weight: 700;
    font-size: 1.2em;
}

label, input, button, select, textarea {
    font-family: "Inter", "Roboto Condensed";
}

label {
    text-align: right;
    padding-right: 1rem;
}

input, select, textarea {
    padding: .5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 0 auto;
    padding: 1rem;
    background-color: slategray;
    border: none;
    border-radius: .5rem;
    font-size: 1.1rem;
}

button:hover {
    background-color: lightskyblue;
}

footer {
    text-align: center;
    width: 650px;
    margin: 1rem auto 0;
    padding: 1rem;
    border-top: 1px solid #333;
}

/* class selectors */

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 2fr;
    margin: 0.5rem 0;
}

.column2 {
    grid-template-columns: 1fr 3fr;
    margin: 0.5rem 0;
}