:root
{
    --background-color: steelblue;
    --border: 3px solid rgba(0, 0, 0, 0.2);
    --margin: 1rem;
    --padding: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: var(--background-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--background-color);
}

img {
    width: 150px;
    height: auto;
    border: 2px solid var(--background-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p { padding: 0;}

main {
    max-width: 640px;
}

main p {
    max-width: 350px;
}

main img {
    border-radius: 100%;
    width: 10em;
    height: auto;
    float: right;
}

aside {
    position: relative;
    width: 25rem;
    margin: var(--margin);
    border: var(--border);
    padding: var(--padding);
    background-color: #88b5ff;
    color: #333;
    text-align: center;
}

aside h2 {
    position: absolute;
    top: 30px;
    left: 100px;
}

aside img {
    width: 300px;
    height: auto;
}

footer {
    margin-top: 10px;
    border-top: 2px solid rgba(0, 0, 0, 0.7);
    text-align: center;
}

/* Class Selectors */

.box {
    margin: var(--margin);
    padding: var(--padding);
    border: var(--border);
    background-color: var(--background-color);
    color: #000;
}