:root
{
    --background-color: steelblue;
    --border: 3px solid rgba(0, 0, 0, 0.2);
    --margin: 1rem;
    --padding: 1rem;
    --heading-font: "Roboto Condensed", system-ui;
    --paragraph-font: "Inter", system-ui;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: var(--background-color);
    padding: 1rem;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    border: var(--border);

    text-decoration: none;
    font-family: var(--heading-font);
    font-weight: 700;
    font-size: 1.2rem;
}

h1 {
    color: var(--background-color);
    border-bottom: 1px solid var(--background-color);
    padding: 1rem;
}

img {
    width: 150px;
    height: auto;
    border: 2px solid var(--background-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p { 
    padding: 0;
    font-family: var(--paragraph-font);
    font-weight: 400;
}


main img {
    border-radius: 100%;
    width: 10em;
    height: auto;
    float: right;
}

aside {
    position: relative;
    width: 25rem;
    border: var(--border);
    padding: var(--padding);
    background-color: #88b5ff;
    color: #333;
    text-align: center;
}

aside h2 {
    position: absolute;
    top: 30px;
    left: 100px;
}

aside img {
    width: 300px;
    height: auto;
}

footer {
    margin-top: 10px;
    border-top: 2px solid rgba(0, 0, 0, 0.7);
    text-align: center;
}

/* Class Selectors */

.box {
    clear: both;
    margin: var(--margin);
    padding: var(--padding);
    border: var(--border);
    background-color: var(--background-color);
    color: #000;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}